<div class="row">
  <div id="signin" class="col-sm-4 col-sm-offset-4">
    <%= bootstrap_form_for(@trackingcode) do |f| %>
      <%= f.text_field :code%>
      <%= f.select :type, ["Instacart", "Postmates", "Sprig", "Package Delivery"], :include_blank => true %>
      <%= f.date_field :expiredtime, :value =>Date.today + 1.week%>
      <%= f.check_box :use_once_only, label: 'Expired after first use?'%>
      <%= f.submit 'Add Code', :class => 'btn btn-primary btn-lg btn-block'%>
    <% end %>
  </div>
</div>

