<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h1>Edit code</h1>
  </div>
</div>

<div class="row">
  <div id="signin" class="col-sm-6 col-sm-offset-3">
    <%= bootstrap_form_for(@trackingcode) do |f| %>
      <%= f.text_field :code%>
      <%= f.select :type, ["Instacart", "Postmates", "Sprig", "Package Delivery"], :include_blank => true %>
      <%= f.date_field :expiredtime%>
      <%= f.check_box :use_once_only, label: 'Expired after first use?'%>
      <%= f.submit 'Make changes', :class => 'btn btn-primary btn-lg btn-block'%>
    <% end %>
  </div>
</div>