<div class="row">
  <div class="col-md-10 col-md-offset-1 text-center">
    <%= raise @my_exp_items.inspect %>
    <% if @my_exp_items.count !=0 %>
      
      <!-- COMMAND CENTER -->
      <div class="col-sm-6 col-md-3">
        <h1 style="color:white"><%= current_user.name %>'s beauty case </h1>
      <!-- DISPLAY TOTAL ITEM -->
        <%=link_to expired_product_path do%>
          <button class="btn btn-primary" type="button">
            my items
            <span class="badge progress-bar-success"><%= @my_item_count %></span>
          </button>
        <% end %>
        <!-- DISPLAY EXPIRED PRODUCT IF ANY -->
        <% if @my_exp_items  %>
          <%=link_to expired_products_path do%>
            <button class="btn btn-primary" type="button">
              alert
              <span class="badge progress-bar-warning"><%= @my_exp_items.count %></span>
            </button>
          <% end %>
        <% end %>
      </div>
        <!-- DISPLAY ALL USER PRODUCTS -->
        <% @my_exp_items.each do |p| %>
          <div class="col-sm-6 col-md-3">
            <div class="innerdiv">
              <% if eval(p.image_urls) %>
                      <%= image_tag(eval(p.image_urls).first, :class => "img-rounded", :width => "100") %>
              <% end %>
            <div class="caption">
              <h5><strong><%= p.product_name %></strong></h5>
              <h5><small>by <%= p.brand %></small></h5>
              <span class="label label-default"><%= p.category %></span><br>
              <p>
                <strong>Size</strong>
                <%= p.size %><br>
                <strong>Ave price $</strong> <%= p.avg_price %><br>
                Opened on <%= p.date_first_use %><br>
                Expired on <%= p.date_expired %><br>
              </p>
              <p>
                <!-- LIKE OR NOT -->
                <% if p.like_or_not %>
                  <span class="glyphicon glyphicon-ok"></span>Love it!
                <% else %>
                  <span class="glyphicon glyphicon-remove"></span>Hate it<br>
                <% end %>

                <!-- RATING STARS -->
                <% if p.rating %>
                  <% (p.rating).times do |i|%>
                    <span class="glyphicon glyphicon-star"></span>
                  <% end %>
                <% end %>
              </p>
              <p>
                <!-- AMAZON LINK -->
                <% if p.amazon_ASIN %>
                  <%= link_to(image_tag("http://g-ecx.images-amazon.com/images/G/01/gno/images/general/navAmazonLogoFooter._V169459313_.gif", :width => "70"), p.amazon_link)%>
                <% end %>
              </p>
              <p>
                <div class="btn-group btn-group-justified">
                  <div class="btn-group">
                    <!-- LIKE OR UNLIKE -->
                    <% if p.like_or_not %>
                      <%= button_to('Unlike', like_product_path(p), method: 'post', data: {:controller => 'products', :action => 'set_like'}, :class => 'btn btn-xs btn-primary')%>
                    <% else %>
                      <%= button_to('Like', like_product_path(p), method: 'post', data: {:controller => 'products', :action => 'set_like'}, :class => 'btn btn-xs btn-primary')%>
                    <% end %>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-xs btn-success"><%= link_to 'More info', product_path(p) %></button>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                      More
                      <span class="sr-only"></span>
                    </button>
                      <% if current_user%>
                        <ul class="dropdown-menu" role="menu">
                          <li><%= link_to ' More about this product ', product_path(p) %></li>
                          <li><%= link_to ' Edit ', edit_product_path(p) %></li>
                          <li class="divider"></li>
                          <li><%= link_to ' Delete ', p, method: :delete %></li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </p>
              </div>
            </div>
        </div>
      <% end %>
    <% else %>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <button type="button" class="btn btn-primary btn-lg btn-block">Woohoo. Everything is in order.</button>
          <%= render './product_search/search'%>
        </div>
      </div>
    </div>
  <% end %>
</div>
