<div class="row">
  <div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-xs-10 col-sm-4 col-md-3">
    <h2 id="logo">beep🔑</h2>
    <% if @notice %>
      <h2>notice</h2>
    <% end %>
    <%= bootstrap_form_for(@user, {url: login_path}) do |f| %>
      <%= f.email_field :email%>
      <%= f.password_field :password%>
      <%= f.check_box :remember_me, label: 'Remember me!', checked: true %>
      <%= f.submit 'Sign in', :class => 'btn btn-default'%>
    <% end %> 
    <p>Don't have an account? <%= link_to('Sign up', signup_path) %></p>
  </div>
</div>