<div class="row">
  <div id="signin" class="col-sm-4 col-sm-offset-4">
    <%= bootstrap_form_for(@user) do |f| %>
      <!-- ERROR HANDLER -->
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
        <div id="error_explanation">
          <li>@message</li>
        </div>
      <% end %>
      <%= f.text_field :name%>
      <%= f.email_field :email%>
      <%= f.password_field :password, help: 'Must be at least 6 characters long' %>
      <%= f.password_field :password_confirmation %>
      <%= f.check_box :accept_terms, label: 'Accept terms.', checked: true %>
      <%= f.submit 'Create my account', :class => 'btn btn-primary btn-lg btn-block'%>
    <% end %>
  </div>
</div>
