<div class="row">
  <div id="signin" class="col-sm-4 col-sm-offset-4">
    <%= bootstrap_form_for(@user) do |f| %>
      <%= f.text_field :name%>
      <%= f.password_field :password, help: 'Must be at least 6 characters long' %>
      <%= f.password_field :password_confirmation %>
      <%= f.check_box :accept_terms, label: 'Sign up for emails.', checked: true %>
      <%= f.submit 'Update my profile', :class => 'btn btn-primary btn-lg btn-block'%>
    <% end %>
  </div>
</div>
